@model Kanban.ViewModels.ListarTareasViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    int idUsuario = HttpContextAccessor.HttpContext.Session.GetInt32("Id").Value;
    int idUsuarioPropietario = (int)ViewData["IdUsuarioPropietario"];
}

<div class="card mb-2 shadow-sm" style="background-color:@Model.Color; color: white;">
    <div class="card-body">
        <h5 class="card-title">@Model.Nombre</h5>
        <p class="card-text">@Model.Descripcion</p>

        @if (Model.IdUsuarioAsignado == idUsuario || idUsuarioPropietario == idUsuario)
        {
            <a asp-controller="Tarea" asp-action="ModificarTarea" asp-route-id="@Model.Id" class="btn btn-light btn-sm">Modificar</a>
            <a asp-controller="Tarea" asp-action="EliminarTarea" asp-route-id="@Model.Id" class="btn btn-danger btn-sm">Eliminar</a>
            @if (idUsuarioPropietario == idUsuario)
            {
                @if(Model.IdUsuarioAsignado.HasValue)
                {
                    <span class="badge bg-info text-dark">Asignado a: @Model.NombreUsuarioAsignado</span>
                }
                else
                {
                    <a asp-controller="Tarea" asp-action="Asignar" asp-route-idTarea="@Model.Id" class="btn btn-warning btn-sm">Asignar Usuario</a>
                }
            }
        }
        else
        {
            <span class="badge bg-secondary">Solo lectura</span>
        }
    </div>
</div>